<template>
    <div id="app">
        <Navbar></Navbar>
    </div>
</template>

<script>
    export default {
        name: 'app',
        components: {
            Navbar: () => import('./components/layout/Navbar')
        }
    }
</script>

<style>

</style>
