<template>
    <div>
        <div class="card">
            <form @submit="initiatePost">
                <div class="card-content login">
                    <p class="title">
                        Start crawling questions for your favourite tag
                    </p>

                    <div class="field">
                        <label class="label">Main Tag Name</label>
                        <div class="control">
                            <input class="input" type="text" v-model="tag_name" name="tag_name" placeholder="tag name to extract data for.">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Question xpath</label>
                        <div class="control">
                            <input class="input" type="text" v-model="question_xpath" name="question_xpath" placeholder="Xpath for question">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Tags xpath</label>
                        <div class="control">
                            <input class="input" type="text" v-model="tags_xpath" name="tags_xpath" placeholder="Xpath for tags">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">URL xpath</label>
                        <div class="control">
                            <input class="input" type="text" v-model="url_xpath" name="url_xpath" placeholder="Xpath for url">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Number of questions to extract</label>
                        <div class="control">
                            <input class="input" type="text" v-model="num_questions" name="num_questions" placeholder="Number, e.g. 300">
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    <p class="card-footer-item register">
                        <button class="button">
                            <span>
                                Register
                            </span>
                        </button>
                    </p>
                </footer>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Crawl',

        data() {
            return {
                tag_name: null,
                question_xpath: null,
                tags_xpath: null,
                url_xpath: null,
                num_questions: null
            }
        },

        methods: {
            initiatePost: function(e) {
                const url = 'http://127.0.0.1:5001/crawl';

                var formData = new FormData();
                formData.append('tag_name', this.tag_name);
                formData.append('question_xpath', this.question_xpath);
                formData.append('tags_xpath', this.tags_xpath);
                formData.append('url_xpath', this.url_xpath);
                formData.append('num_questions', this.num_questions);

                this.axios.post(url, formData)
                    .then(response => {
                        console.log(response);
                    });

                e.preventDefault();
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h2 {
        text-align: center;
    }

    .button {
        border-radius: 0;
        border: none;
    }
    .card-content.login {
        background-color: #f9f6f6;
        border: none;
        height: 520px;
        padding: 20px;
    }
    .card-footer-item.register {
        background-color: #284863;
        color: white;
    }
    .input{
        border-width:1px;
        border-radius:15px;
    }
    .card-footer {
        border: none;
    }
    .label {
        font-weight: lighter;
    }
</style>
