<template>
    <div>
        <h2>Export question and related tags for each main parent tag.</h2>
    </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
