<template>
    <div id="questions">
        <table class="table is-fullwidth is-bordered is-striped is-hoverable is-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Tags</th>
                    <th>Parent Tag</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(question, index) in this.questions" :key="index">
                    <td v-if="page_num > 1">{{ (page_num -1) * 20 + index + 1 }}</td>
                    <td v-else>{{ index + 1 }}</td>

                    <td>{{ question.question }}</td>
                    <td><a :href="'https://stackoverflow.com' + question.url">Visit Question in Stackoverflow</a></td>
                    <td>{{ question.tags }}</td>
                    <td>{{ getTagId(question.tag_id.split('/')[5]) }}</td>
                </tr>
            </tbody>
        </table>

        <h2>You are in page <b>{{ page_num }}</b> of <b>{{ totalPages }}</b></h2>
        <Pagination :page_num="page_num" :handleGet="handleGet"></Pagination>
    </div>
</template>

<script>
    export default {
        name: 'Questions',
        components: {
            Pagination: () => import('./layout/Pagination')
        },

        data() {
            return {
                questions: [],
                total_data: 0,
                page_num: 1,
                main_tag: null
            }
        },

        methods: {
            handleGet: function(page_num) {
                this.page_num = page_num;
                const url = 'http://127.0.0.1:8000/api/questions/?page=' + this.page_num;

                this.axios.get(url)
                    .then(response => {
                        this.total_data = response.data.count;
                        this.questions = response.data.results
                    })
            },

            getTagId: function(id) {
                const url = 'http://127.0.0.1:8000/api/tags/' + id;

                this.axios.get(url)
                    .then(response => {
                        this.main_tag = response.data.tag_name
                    });

                return this.main_tag;
            }
        },

        mounted() {
            this.handleGet(1);
        },

        computed: {
            totalPages: function() {
                return (this.total_data / 20).toFixed();
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h2{
        text-align: center;
    }

    input {
        width: 90px;
    }
</style>
