<template>
    <div>
        <h2>Visualization for frequency of tags collected.</h2>
    </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
