<template>
    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link class="navbar-item" to="/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </router-link>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <router-link class="navbar-item" to="/crawl">
                        Crawl
                    </router-link>

                    <router-link class="navbar-item" to="/questions">
                        Questions
                    </router-link>

                    <router-link class="navbar-item" to="/predict">
                        Predict
                    </router-link>

                    <router-link class="navbar-item" to="/visualize">
                        Visualize
                    </router-link>

                    <router-link class="navbar-item" to="/export">
                        Export
                    </router-link>
                </div>
            </div>
        </nav>

        <router-view></router-view>
    </div>
</template>

<script>

</script>

<style>

</style>
