<template>
    <div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <button class="pagination-previous" v-on:click="handleGet(decreasedPageNum)">Previous</button>
            <button class="pagination-next" v-on:click="handleGet(increasedPageNum)">Next page</button>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'Pagination',

        props: ['page_num', 'handleGet'],

        computed: {
            decreasedPageNum: function() {
                return this.page_num - 1
            },

            increasedPageNum: function() {
                return this.page_num + 1
            }
        }
    }
</script>

<style>

</style>
